{{ define "main" }}

<h1>Je suis Romain et je suis un nullard...</h1>
<h2>Voici l'histoire de ma vie</h2>
<img src="/1.jpg" alt="Romain le nullard" width="200" height="300">
<p>Même avec un doctorat et avec pleins conseille donner par mon chèr ami Abhi, je rester toujours un <i>nullard.</i><br>
Là, dans ce photo, vous peut-être m'a trouvé beau,c'est ça que moi aussi, je pense aussi mais en fait non, je reste à <i>nullard.</i><br>
Chaque fois, quand suis contre abhi, j'essaye de lui taquiner mais ça ne marche pas.. je ne sais pas pourquoi, en fait non, je sais parceque suis un <i>"nullard."</i><br>
Il est temps que j'arrete de parler et accepte que je n'arriverai jamais battre Abhi parceque je suis un <i>"nullard."</i><br>
<br><br>Avec le temps, j'ai viens de réaliser que j'arrive bien faire un truc et j'adore faire ce tâche.<a href="https://www.sex.com/search/gifs?query=sucking+balls">Je vous laisse decouvrir ma passion prèfere les amis!!!</a><br><br>N'hésitez pas suivre mes aventures temps en temps sur cette page qui sera actualisé assez reguliarement par moi<br>La,je vous laiss, je pars pour manger mes mergeuz...Bisous à vous tous !!!<p>
{{ end }}
