{{ define "main" }}
<head>
  <title>Romain le nullard</title>
</head>
<h1>Je suis Romain et je suis un nullard...</h1>
<h2>Voici l'histoire de ma vie</h2>
<img src="/1.jpg" alt="Romain le nullard" width="200" height="300">
<p>Même avec un doctorat et avec tous les conseils que me donne mon cher ami Abhi, je reste toujours un <i>nullard.</i><br>
Là, dans cette photo,vous me trouvez surement beau,je pense la même chose mais en fait non, je reste un <i>nullard.</i><br>
A chaque fois, que je suis contre abhi, j'essaye de le taquiner mais ça ne marche pas.. je ne sais pas pourquoi, en fait non, je sais parceque suis un <i>"nullard."</i><br>
Il est temps que j'arrete de parler et accepte que je n'arriverai jamais à battre Abhi parceque je suis un <i>"nullard."</i><br>
<br><br>Avec le temps, je viens de réaliser que j'arrive bien à faire un truc et j'adore faire cette tâche.Je vous laisse decouvrir <a href="https://www.sex.com/search/gifs?query=sucking+balls"><i><u>ma passion prèferée</i></u></a> les amis!!!<br><br>N'hésitez pas suivre mes aventures de temps en temps sur cette page qui sera actualisée assez reguliérement par moi<br>La,je vous laisse, je pars pour manger mes merguez 🌭🌭...Bisous à vous tous 😘!!!<p>
{{ end }}
